{
    "domains": {
        "ou=people,dc=test-client-ad,dc=com": {
            "url": "ldaps://dc01.test-client-ad.com:6360",
            "bindDN": "uid=ro_admin,ou=people,dc=test-client-ad,dc=com",
            "bindPassword": "password",
            "userGroupDN": "cn=phishing_user,ou=groups,dc=test-client-ad,dc=com",
            "adminGroupDN": "cn=phishing_admin,ou=groups,dc=test-client-ad,dc=com"
        }
    },
    "mail": {
        "host": "mail.echo-shield.com",
        "port": 465,
        "secure": true,
        "auth": {
            "user": "no-reply@echo-shield.com",
            "pass": "password"
        }
    }
}
