{
    "domains": {
        "cn=users,dc=test-client-ad,dc=com": {
            "url": "ldaps://dc01.test-client-ad.com",
            "bindDN": "cn=ro_admin,cn=users,dc=test-client-ad,dc=com",
            "bindPassword": "password",
            "userGroupDN": "cn=phishing_user,cn=users,dc=test-client-ad,dc=com",
            "adminGroupDN": "cn=phishing_admin,cn=users,dc=test-client-ad,dc=com"
        }
    }
}