.image-group {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.module-image {
	width: 30%;
	border-radius: 16px;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease-in-out;
}

.module-image:hover {
	transform: scale(1.02);
}

.module-video {
	width: 80%;
	border-radius: 16px;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease-in-out;
}

.module-text {
	width: 70%;
	white-space: pre-line;
	text-align: left;
	margin-top: 10px;
}

.module-text li,
.module-text h4 {
	font-family: Inter, Arial, sans-serif;
	font-size: 18px;
	color: #555;
}
